{% extends "../base.html" %}

{% block css_link %}
<link href="/assets/css/main.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
<div id="site-introduction">
	<img id="profile" src="/assets/images/main_img.PNG">
	<h2>홍문기의 개발 사이트</h2>
	<p>
		< 게시판 주요기능 ><br><br>
		1. 게시판 입출력 관련 Validation<br>
		&nbsp&nbsp&nbsp- 로그인한 유저만 글쓰기 가능<br>
		&nbsp&nbsp&nbsp- 본인이 쓴 게시글만 수정, 삭제 가능<br><br>
		2. 게시판 기본기능 구현 완료(입력, 리스트출력, 삭제, 보기, 수정)<br><br>
		3. 게시판 부가기능 구현 완료(찾기, 조회수, 댓글)<br><br>
		4. 테스트 유저 정보( tester@gmail.net/1234 )

		<br><br>
		<a href="/guestbook">방명록</a>에 글 남기기<br>
	</p>
</div>
{% endblock %}