{% extends "../base.html" %}
{% load mathfilters %}
{% block css_link %}
<link href="/assets/css/board.css" rel="stylesheet" type="text/css">
{% endblock %}



{% block content %}
<script language="JavaScript">
	function delGenUrl(boardid){
		if(confirm("게시물을 삭제하시겠습니까?")){
			location.href='/board/delete?boardid='+boardid
		}else{
			return
		}
	}
</script>
	<div id="content">
		<div id="board">
			<form id="search_form" action="" method="post">
				<input type="text" id="kwd" name="kwd" value="">
				<input type="submit" value="찾기">
			</form>
			<table class="tbl-ex">
				<tr>
					<th>번호</th>
					<th>제목</th>
					<th>글쓴이</th>
					<th>조회수</th>
					<th>작성일</th>
					<th>삭제</th>
				</tr>
				{% for board in board_list %}
				<tr>
					<td>{{ board_list.count | add:1 | sub:forloop.counter}}</td>
					<td><a href="/board/view?boardid={{board.id}}">{{ board.title }}</a></td>
					<td>{{ board.user.name }}</td>
					<td>{{ board.hit }}</td>
					<td>{{ board.regdate|date:'Y-m-d H:i:s'}}</td>
					{% if request.session.authuser.id == board.user_id %}
						<td><!--로그인한 유저와 게시물 작성자가 같은 경우만, 삭제를 허용한다.-->
							<a href="#" onclick="delGenUrl( {{board.id}} );">
								<img src="/assets/images/recycle.png">
							</a>
						</td>
					{% else %}
						<td></td><!--같이 않을 경우, 삭제를 할 수 없도록 처리한다.-->
					{% endif %}
				</tr>
				{% endfor %}
			</table>
			<div class="bottom">
				{% if request.session.authuser is None %}
					글쓰기는 로그인 후, 작성 가능합니다.
				{% else %}
					<!--로그인 한 사용자만 글쓰기를 허용한다.-->
					<a href="/board/writeform" id="new-book">글쓰기</a>
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}
