{% extends "../base.html" %}
{% block css_link %}
<link href="/assets/css/board.css" rel="stylesheet" type="text/css">
{% endblock %}
{% block content %}
			<div id="board" class="board-form">
				<table class="tbl-ex">
					<tr>
						<th colspan="2">글보기</th>
					</tr>
					<tr>
						<td class="label">제목</td>
						<td>{{board_view.title}}</td>
					</tr>
					<tr>
						<td class="label">내용</td>
						<td>
							<div class="view-content">
								{{board_view.content|linebreaksbr}}
							</div>
						</td>
					</tr>
				</table>
				<div class="bottom">
					<a href="/board">글목록</a>
					{% if request.session.authuser.id == board_view.user %}
					<!--로그인한 유저와 게시물 작성자가 같은 경우만, 글수정 허용-->
					<a href="/board/modifyform?boardid={{board_view.id}}">글수정</a>
					{% endif %}
				</div>
			</div>
{% endblock %}